body { 
			background-color: #E1F6EE; 
			/*Цвет фона в RGB формате (в нем три цвета  , первые две буквы значение красного цвета, вторые - зеленого цвета и третьи cиний */
			margin-left: 20%;
			/*отступ слева , задается в процентах от размера страницы*/
			margin-right: 20%;
			border: 1px dotted black;
			/*это рамка 1px - ширина рамки , dotted - то что она точечками , и цвет
			цвет может задаваться как кодом, там и словами*/
			padding: 10px 10px 10px 10px;
			/*отступ изнутри  */
			font-family: sans-serif;
			/*группа шрифтов, которая будет использоваться */
			}

			h1{
				color: blue
			}
			h2{
				color: white
			}
			div  {
				color:green;
			}
			/*стиль ко всему блоку*/

			ul.mmm {
				list-style: square outside;
				color:green;
			}

			/*если перед указанием класса стоит название элемента, то применяется только к нему, а не 
			ко всем элементам этого класса*/
			.article {
				color: #00ff00;
			}
			.article-big {
				font-size: 24px;
				color: green;
			}
			p#main-article {
				font-size: 24px;
			}
			/*p переде id можно не указывать, но если несколько элементов на разных страниц браузер путается и 
			не знает какой стиль применить*/

			.article.article-big{
				background: #0000ff;
			}
			/*применится только там где есть два класса (один внутри другого)*/